@media only screen and (min-width: 38rem) {
    #menu-button {
        display: none;
    }

    header {
        justify-content: center;
    }

    .page-nav {
        grid-template-rows: 1fr;
    }

    nav ul,
    nav ul.open {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul li {
        flex-grow: 1;
    }

    nav ul li a {
        text-align: center;
    }
}