:root {
    --primary-color: #006a8d;
    --secondary-color: #00384b;
    --accent1-color: #d5d5d5;
    --accent2-color: #88374b;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    font-family: "Source Serif 4", serif;
    background-color: var(--accent1-color);
}

h1 h2 h3 h4 h5 h6 {
    font-family: "Playfair Display", serif;
}

.hero {
    width: 100%;
    height: auto;
}

header {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    gap: 1rem;
    padding: 10px;
}

header span {
    color: var(--accent1-color);
    font-size: 2em;
    margin: 0px;
}

.page-nav {
    display: grid;
    grid-template-rows: 0fr;
    background-color: var(--secondary-color);
    transition: grid-template-rows 0.3s ease-in-out;
}

.page-nav.open {
    grid-template-rows: 1fr;
}

#menu-button {
    background: none;
    border: none;
    color: var(--accent1-color);
    font-size: 2em;
}

#menu-button::before {
    content: "☰";
}

#menu-button.open::before {
    content: "✖";
}

#menu-button:hover {
    background-color: #fff2;
}

#menu-button:active {
    background-color: #fff7;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav ul li a {
    display: block;
    text-decoration: none;
    font-size: 1.2em;
    color: var(--accent1-color);
    padding: 1rem;
}

nav ul li a.active {
    background-color: #0003;
}

nav ul li a:hover {
    background-color: #fff2;
}

nav ul li a:active {
    background-color: #fff7;
}

.fat-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

article {
    border-radius: 10px;
    margin: 16px 0;
    overflow: hidden;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    background-color: white;
}

article h2 {
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    padding: 10px;
    margin: 0;
    text-align: center;
}

.member-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 16px 0px;
    padding: 0 0 16px 0;
    overflow: hidden;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    background-color: white;
}

.member-card h2 {
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    padding: 10px;
    margin: 0px;
    text-align: center;
    width: 100%;
}

#member-grid {
    display: grid;
    padding: 0;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 16px;
}

#member-list {
    padding: 0;
}

.member-list-item {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: stretch;
    background-color: white;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 8px;
    padding: 0 16px;
}

.member-list-item img {
    flex: 0 0 80px;
}

.member-list-item h2 {
    flex: 1;
}

.member-list-item div {
    flex: 1;
}

figure img {
    width: 100%;
    height: auto;
}

figcaption {
    text-align: center;
    font-size: 0.9em;
}

#filter-buttons {
    display: grid;
    grid-template-columns: repeat(3, minmax(0px, 200px));
    justify-content: center;
    gap: 10px;
    margin: 16px 0px;
}

#filter-buttons button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

#filter-buttons button:hover {
    background-color: gray;
}

#filter-buttons button:active {
    background-color: lightgray;
}

#total-credits {
    text-align: center;
    font-size: 1.2em;
}

#certificates-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.certificate.completed {
    background-color: var(--accent2-color);
}

.certificate {
    background-color: var(--accent1-color);
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 4px;
    text-align: center;
}

footer p {
    color: var(--accent1-color);
}

.social-links {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.social-links a img {
    width: 3rem;
    height: auto;
}