:root {
    --primary-color: #1E2A38;
    --secondary-color: #7C8EA1;
    --accent1-color: #C46009;
    --accent2-color: #FACE3C;
    --text-color: #2D2D2D;
}

body {
    max-width: 840px;
    margin: 0 auto;
    background-color: var(--secondary-color);
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Orbitron', sans-serif;
}

header {
    display: flex;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 0;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    flex: 1;
    text-align: center;
}

nav {
    display: grid;
    background-color: var(--primary-color);
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-in-out;
}

nav.open {
    grid-template-rows: 1fr;
}

.menu-button {
    padding: 1rem;
    background: none;
    border: none;
    color: var(--secondary-color);
    font-size: 2em;
}

.menu-button::before {
    content: "☰";
}

.menu-button.open::before {
    content: "✖";
}

.menu-button:hover {
    background-color: #fff2;
}

.menu-button:active {
    background-color: #fff7;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav ul li {
    text-align: center;
}

nav ul li a {
    display: block;
    text-decoration: none;
    width: 100%;
    padding: 0.5rem 0;
    font-size: 1.2rem;
    color: var(--secondary-color);
    background-color: #0004;
}

nav ul li a:hover {
    background-color: #fff4;
}

nav ul li a.active {
    background-color: #fff1;
}

.hero {
    width: 100%;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
}

form {
    margin-bottom: 1rem;
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem;
}

footer p {
    text-align: center;
}

article {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
}

.card-even {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.card-odd {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    direction: rtl;
}

.card-odd * {
    direction: ltr;
}

article img {
    justify-self: center;
}

.button {
    padding: 0.5rem;
    background-color: var(--accent1-color);
    color: var(--text-color);
    text-decoration: none;
    border-radius: 0.25rem;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: var(--accent2-color);
}

.loading {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loader {
    border: 8px solid var(--secondary-color);
    border-top: 8px solid var(--accent1-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}